In [11]:
import oracledb

# Configurações de conexão
# 1) Conexão com usuário fundacao
conn = oracledb.connect(
    user = "SYS",
    password = "Not@1943ma",
    dsn = "localhost:1521/XE",     # DSN do CDB (container raiz)
    mode=oracledb.SYSDBA
)
cursor = conn.cursor()

# Consultando as tabelas do usuário conectado
cursor.execute("SELECT * FROM DESCONTO")
tabelas = [row for row in cursor.fetchall()]

print("Tabelas encontradas:", tabelas)

cursor.close()
conn.close()

Tabelas encontradas: [(100, 'INSS'), (110, 'IRRF')]